*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
}

:root {
  --main-color: #EEEEEE;
  --secondary-color: #e2e2e2;
  --main-font-color: #333333;
  --secondary-font-color: #7A7A7A;
  --tertiary-font-color: #7FD9BD;
  --extra-color: #4c4c4c;
  --main-font: 'Montserrat', sans-serif;
  --secondary-font: 'Poppins', sans-serif;
}

.landing_main_banner {
  width: 100%;
  min-height: 630px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
  padding: 100px 30px 10px 30px;
  background-image: url('../../img/landing/landing_banner.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.landing_main_banner .landing_logo {
  height: 100px;
  width: auto;
  margin: 15px 0 20px 0;
  position: absolute;
  top: 10px;
  left: calc(50% - 130px);
}
.landing_main_banner h2 {
  text-align: center;
  font-weight: 600;
  font-size: 4rem;
  margin-top: 100px;
  margin-bottom: 30px ;
  color: white;
}
.landing_main_banner h4 {
  text-align: center;
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 10px;
  color: var(--main-color);
}
.landing_main_banner a {
  background-color: #4ecca3;
  width: 200px;
  height: 50px;
  padding: 15px;
  text-align: center;
  border-radius: 30px;
  outline: none;
  margin: 20px 0 100px 0;
  color: white;
  font-family: var(--main-font);
  font-size: 1.6rem;
  font-weight: 500;
}
.landing_main_banner a:hover {
  background-color: var(--extra-color);
  transform: translateY(-3px);
  transition: linear 0.2s;
}
.landing_main_banner .landing_main_banner-img {
  justify-self: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-self: center;
  animation: bounce 4s infinite linear;
}
.landing_main_banner .landing_main_banner-img .landing_img_1 {
  width: 80%;
  height: auto;
  margin: 0 auto;
  text-align: center;
  position: relative;
  bottom: unset;
  left: unset;
}

.landing_main_info {
  width: 100%;
  padding: 40px 10% 20px 10%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 20px;
}
.landing_main_info-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.landing_main_info-info h2{
  text-align: left;
  font-size: 4rem;
}
.landing_main_info-info ol li {
  font-size: 2.4rem;
  line-height: 50px;
}
.landing_main_info-info .arrow-down_landing {
  height: auto;
  width: 40px;
}

.landing_categories {
  margin-top: 20px;
}
.landing_categories .landing_categories_title h3{
  font-size: 4rem;
}
.landing_categories .landing_categories_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  padding: 20px 50px;
  margin-bottom: 30px;
}
main .landing_categories .landing_categories_cards .cat3 {
  margin: 10px 0; 
}

.landing_contact_banner h2 {
  font-size: 3rem;
}
.landing_contact_banner a:hover {
  transform: translateY(-3px);
  transition: linear 0.2s;
}