main .categories_cards{
  width: 80%;
  margin-bottom: 20px;
}

main .categories .categories_card {
  width: 80%;
  height: 100px;
}

main .categories .categories_cards .cat1 {
  background-image: url('/static/img/cat_1_dt.jpg');
}
main .categories .categories_cards .cat2 {
  background-image: url('/static/img/cat_2_dt.jpg');
}
main .categories .categories_cards .categories_card.cat3 {
  background-image: url('/static/img/cat_3_dt.jpg');
  grid-column: 1 / -1;
}

.categories_card h4 {
  font-size: 1.8rem;
}
.categories_card a {
  font-size: 1.6rem;
}

.categories_description .category_description {
  height: 450px;
}
.categories_description .category_description img {
  width: 350px;
  margin-top: -200px;
} 
.categories_description .category_description p {
 width: 40%;
}



