*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
}

:root {
  --main-color: #EEEEEE;
  --secondary-color: #e2e2e2;
  --main-font-color: #333333;
  --secondary-font-color: #7A7A7A;
  --tertiary-font-color: #7FD9BD;
  --extra-color: #4c4c4c;
}

.icon {
  display: none;
}
header {
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: transparent;
  display: flex;
  align-items: center;
  transition: ease-in-out 0.3s all;
}
.header.sticky {
  height: 80px;
  background-color: var(--main-color);
}
header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.navbar .navbar_list {
  position: relative;
  display: flex;
  flex-direction: row;
  height: unset;
  width: unset;
  z-index: unset;
  background: none;
  top: unset;
  left: unset;
  padding-top: 0;
  transition: none;
  text-align: unset;
}
/* .navbar .navbar_list .navbar_item .active {
  color: #565656;
} */
.navbar .navbar_list .navbar_item {
  margin-right: 20px;
}
.navbar .navbar_list .navbar_item a{
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.navbar .navbar_list .navbar_item a.toggle {
  color: var(--extra-color);
}

.navbar .navbar_list .navbar_item a:hover {
  cursor: pointer;
  color: var(--tertiary-font-color);
  transition: ease 0.3s all;
}
main .banner {
  width: 100%;
  height: 100vh;
}

.banner .banner_title {
  max-width: 800px;
}

.banner .banner_bttn {
  padding: 15px 50px;
  color: var(--main-font-color);
  font-size: 2rem;
  font-weight: 600;
}
main .categories_cards{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 40px;
  width: 80%;
  margin-bottom: 50px;
}
main .categories .categories_title {
  font-size: 2.6rem;
  margin: 30px 0 60px 0;
}
main .categories .categories_card {
  width: 100%;
  height: 100%;
  padding: 20px; 
  text-align: center;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main .categories .categories_cards .cat1 {
  background-image: url('../img/cat_1_dt.jpg');
}
main .categories .categories_cards .cat2 {
  background-image: url('../img/cat_2_dt.jpg');
}
main .categories .categories_cards .categories_card.cat3 {
  background-image: url('../img/cat_3_dt.jpg');
  grid-column: 1 / -1;
}
.categories_card h4 {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 2px;
}
.categories_card a {
  font-size: 1.6rem;
}
main .categories .categories_card:hover {
  box-shadow: 4px 7px 4px 0px rgb(0 0 0 / 50%);
  transition: ease all 0.1s;
}
.category_description_info {
  width: 80%;
  margin: 0 auto;
}

.button-border {
  width: 80%;
  padding: 10px;
  border-radius: 30px;
  margin-top: 5%;
}
.button-border.button-border-1 {
  border: 1px solid var(--tertiary-font-color);
}
.button-border.button-border-2 {
  border: none;
  background-color: var(--main-color);
  margin-left: -280px;
  display: flex;
  justify-content: flex-end;
  width: 150%;
}
.button-border.button-border-3 {
  border: 1px solid var(--secondary-font-color);
}
.categories_description .category_description img {
  width: 42%;
  margin-top: -270px;
} 
.categories_description .category_description.category_2 p {
  width: 100%;
}
.categories_description .category_description button {
  display: block;
  outline: none;
  border: none;
  border-radius: 20px;
  padding: 12px 30px;
  margin-right: 5px;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
}

.categories_description .category_description .description_button_1 {
  color: var(--main-font-color);
  background-color: var(--tertiary-font-color);
}
.categories_description .category_description .description_button_1:hover {
  color: white;
  background-color: var(--extra-color);
  box-shadow: 4px 1px 4px 0px rgb(0 0 0 / 50%);
}
.categories_description .category_description .description_button_2 {
  color: var(--extra-color);
  background-color: none;
  border: 1px solid var(--extra-color);
}
.categories_description .category_description .description_button_2:hover {
  color: white;
  background-color: var(--extra-color);
  box-shadow: 4px 1px 4px 0px rgb(0 0 0 / 50%);
}
.categories_description .category_description .description_button_3 {
  color: white;
  background-color: var(--extra-color);
}
.categories_description .category_description .description_button_3:hover {
  color: white;
  background-color: var(--main-font-color);
  box-shadow: 4px 1px 4px 0px rgb(0 0 0 / 50%);
}
.category_description.category_2 img {
  float: unset;
  width: 85%;
  margin-top: -280px;
}
.category_description.category_2 .category_description_info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.category_description.category_2 .category_description_info_text {
  padding-left: 40px;
  grid-column: 2 / 3;
}
