*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
  position: relative;
}

:root {
  --main-color: #EEEEEE;
  --secondary-color: #e2e2e2;
  --main-font-color: #333333;
  --secondary-font-color: #7A7A7A;
  --tertiary-font-color: #7FD9BD;
  --extra-color: #4c4c4c;
  --main-font: 'Montserrat', sans-serif;
}
a {
  text-decoration: none;
  cursor: pointer;
}
ul {
  list-style: none;
}

.navbar_logo img {
  height: 80px;
  width: auto;
}
.navbar_logo img.img-sticky {
  height: 60px;
  width: auto;
}
header {
  position: fixed;
  /* z-index: 1; */
  width: 100%;
  height: 100px;
  background-color: transparent;
  display: flex;
  align-items: center;
  transition: ease-in-out 0.3s all;
}
.header.sticky {
  background-color: var(--main-color);
  height: 80px;
  top: 0;
  /* border-bottom: solid 1px white; */
}
header .navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
}
.navbar .navbar_list {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  z-index: 5;
  display: block;
  background-color: var(--main-font-color);
  top: 0;
  left: -100%;
  padding-top: 50px;
  transition: ease all 0.5s;
  text-align: center;
}
.navbar .navbar_list.active {
  left: 0;
}
.navbar_list .mobile_nav_social_media {
  display: block;
}
.navbar_list .mobile_nav_social_media i{
  color: white;
  font-size: 23px;
  margin: 60px 20px;
}

.icon {
  font-size: 2.5rem;
  cursor: pointer;
}
.icon.menu-btn {
  color: white;
  margin-right: 15px;
}
.icon.menu-btn span {
  background-image: url('../icon/menu_white.svg');
  height: 25px;
  width: 25px;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  color: white;
}
.icon.menu-btn.toggle {
  color: var(--main-font-color);
}
.icon.cancel-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  color: var(--main-color)
}
.navbar .navbar_list .navbar_item {
  line-height: 60px;
}
.navbar .navbar_list .navbar_item a{
  color: var(--main-color);
  font-size: 1.8rem;
  font-weight: 500;
}
.navbar .navbar_list {
  overflow-y: scroll;
}
.navbar_list .navbar_list_item.navbar_item.navbar_submenu_parent .navbar_submenu.hide {
  display: none;
}
.navbar_submenu {
  display: none;
  background-color: var(--extra-color);
}
.navbar_list .navbar_list_item.navbar_item.navbar_submenu_parent .navbar_submenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navbar_list .navbar_list_item.navbar_item.navbar_submenu_parent .navbar_submenu li a {
  font-size: 1.6rem;
  font-weight: 500;
}
.navbar_list .navbar_list_item.navbar_item.navbar_submenu_parent .navbar_submenu li {
  border-bottom: 1px solid var(--secondary-font-color);
  width: 100%;
  padding-left: 0px;
}
.navbar_list .navbar_list_item.navbar_item.navbar_submenu_parent span i{
  color: white;
  font-size: 1.6rem;
  margin-right: -5px;
}
main .banner {
  width: 100%;
  height: 550px;
}
main .banner .banner_img{
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .banner.main_banner .banner_img {
  background-image: url('../img/1.3.jpg');
}
main .banner.banner_categorias {
  height: 400px;
  margin-bottom: 30px;
}
main .banner.banner_categorias .banner_img {
  height: 400px;
}
main .banner.banner--insumos .banner_img {
  background-image: url('../img/cat_ban_1.jpg');
}
main .banner.banner--sistemas .banner_img {
  background-image: url('../img/cat_ban_2.jpg');
}
main .banner.banner--tractores .banner_img {
  background-image: url('../img/cat_ban_3.jpg');
}
main .banner.banner_categorias .banner_img .banner_title {
  line-height: 40px;
}
main .banner.banner_categorias .banner_img hr {
  border: 1px solid var(--tertiary-font-color);
  width: 80%;
  margin: 10px auto;
}
main .banner.banner_categorias .banner_img p{
  color: var(--main-color);
  font-weight: bold;
  font-size: 1.8rem;
}
.banner .banner_title {
  font-size: 3rem;
  line-height: 50px;
  margin-left: 50px;
  margin-right: 50px;
  color: white;
  font-weight: bold;
  text-align: center;
}
.banner_title span {
  color: var(--tertiary-font-color);
  text-decoration: underline;
}
.banner .banner_bttn {
  outline: none;
  border: none;
  margin-top: 20px;
  border-radius: 20px;
  padding: 13px 45px;
  background-color: var(--tertiary-font-color);
  font-size: 1.6rem;
  font-weight: 600;
  font-family: var(--main-font);
  color: white;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
}
.banner .banner_bttn:hover {
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
  background-color: #6bb69e;
  color: white;
}
.banner .banner_text {
  width: 80%;
  height: 50px;
  background-color: var(--tertiary-font-color);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: -25px auto 0 auto;
}
.banner .banner_text a {
  color: white;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: bold;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
}
main .categories {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 20px 10px;
  min-height: 200px;
}
main .categories .categories_title {
  text-align: center;
  font-size: 1.6rem;
  font-size: 800;
  color: var(--extra-color);
  text-transform: uppercase;
  margin: 10px 0 20px 0;
}
main .categories_cards{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
main .categories .categories_card {
  width: 90%;
  height: 120px;
  padding: 5px; 
  text-align: center;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.categories_card h4 {
  color: white;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 5px 0;
  /* text-shadow: 3px 1px 2px rgba(0, 0, 0, .5); */
  letter-spacing: 2px;
}
.categories_card a {
  color: white;
  font-size: 1.4rem;
  font-weight: 400;
  transition: ease-in-out all 0.5s;
  letter-spacing: 2px;
}
.categories_card a:hover {
  text-decoration: underline;
  transition: ease-in-out all 0.5s;
}
main .categories .categories_cards .cat1 {
  background-image: url('../img/cat_1_dt.jpg');
}
main .categories .categories_cards .cat2 {
  background-image: url('../img/cat_2_dt.jpg');
}
main .categories .categories_cards .cat3 {
  background-image: url('../img/cat_3_dt.jpg');
  margin-bottom: 30px;
}
.categories_description {
  width: 100%;
}
.category_description_info {
  width: 90%;
  margin: 0 auto;
}
.categories_description .category_description {
  width: 100%;
  padding: 40px 25px;
  margin-bottom: 30px;
  height: 620px;
}
.categories_description .category_description h2 {
  font-size: 6rem;
  font-weight: bold;
  color: var(--extra-color);
  margin-bottom: 20px;
}
.categories_description .category_description h3 {
  font-size: 2rem;
  color: var(--extra-color);
  margin-bottom: 20px;
  font-weight: 600;
}
.categories_description .category_description h4 {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--main-font-color);
  margin-bottom: 20px;
}
.categories_description .category_description p {
  line-height: 30px;
  font-weight: 500;
  color: var(--main-font-color);
  text-align: justify;
  font-size: 1.6rem;
  margin-bottom: 20px;
  max-width: 400px;
}
.categories_description .category_description button {
  display: none;
}
.categories_description .category_description img {
  width: 250px;
  height: auto;
  float: right;
  margin-top: 30px;
} 
.categories_description .category_description.category_3 img {
  margin-bottom: 50px;
}

.categories_description .category_description.category_1 {
  background-color: var(--main-color);
  border-top-right-radius: 100px;
}
.categories_description .category_description.category_3 {
  background-color: var(--main-color);
  border-bottom-left-radius: 50px;
}

.brand_carousel{
  width: 100%;
  min-height: 300px;
  /* margin-top: 100px; */
  padding: 0 20px;
  margin-bottom: 20px;
}
.brand_carousel h2 {
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--extra-color);
  margin-bottom: 20px;
  text-align: center;
}
.brand_carousel hr {
  border: 1px solid var(--tertiary-font-color);
  width: 80%;
  margin: 30px auto;
}
.brand_carousel .carousel .carousel_list{
  display: flex;
  width: 80%;
  margin: 0 auto;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  gap: 20px;
}
.brand_carousel .carousel .carousel_list img{
  width: 120px;
  height: 120px;
  scroll-snap-align: center;
}


main .hero {
  width: 100%;
  height: 600px;
  padding: 20px;
  background-image: url('../img/hero_background_img.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: -1;
}
main .hero p {
  width: 80%;
  display: block;
  color: white;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 30px;
  text-align: center;
  font-family: var(--main-font);
  /* margin: 200px 0 50px 0; */
}
main .hero img {
  width: 200px;
  height: auto;
  display: block;
  position: absolute;
  bottom: 5px;
  z-index: -1;
}
main .contact_banner{
  width: 100%;
  min-height: 100px;
  background-color: #E5E5E5;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* margin-bottom: 190px; */
  justify-content: center;
}
main .contact_banner .contact_banner_divider {
  width: 80%;
  height: 30px;
  background-color: var(--tertiary-font-color);
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}
main .contact_banner .contact_banner_text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 80px 0;
  width: 90%;
}
main .contact_banner .contact_banner_text h3 {
  font-size: 2rem;
  color: var(--extra-color);
  font-weight: bold;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}
main .contact_banner .contact_banner_text a {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--extra-color);
  border: 1px solid var(--extra-color);
  border-radius: 15px;
  padding: 10px 60px;
  cursor: pointer;
}
main .contact_banner .contact_banner_text a:hover {
  cursor: pointer;
  background-color: var(--extra-color);
  color: white;
}
footer {
  width: 100%;
}
footer .footer_content {
  background-color: var(--main-color);
  padding: 20px 30px;
}
footer .footer_content .footer_contact_info.footer_contact_info-contact {
  margin-bottom: 40px;
}
footer .footer_content .footer_contact_info h3{
  font-size: 2.2rem;
  color: var(--extra-color);
  font-weight: bold;
  margin: 20px 0;
}
.footer_contact_info.footer_contact_info-contact .footer_contact_link {
  margin-left: 10px;
}
footer .footer_content .footer_contact_info a {
  font-size: 1.4rem;
  color: var(--extra-color);
  cursor: pointer;
  font-weight: 500;
  margin: 20px 0px;
  display: inline-block;
}
.footer_contact_info.footer_contact_info-contact .footer_contact_link span {
  display: inline-block;
  font-size: 1.6rem;
  color: var(--extra-color);
  margin-right: 10px;
}
footer .footer_content img {
  margin-top: 20px;
  /* margin-left: -15px; */
  width: 200px;
  height: auto;
}
.footer_contact_info.footer_contact_info-more-info .info_links {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
footer .footer_content .footer_contact_info a:hover {
  color: var(--tertiary-font-color);
}
footer .footer_bottom {
  display: flex;
  min-height: 80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 35px;
}
footer .footer_bottom .footer_social_media a i {
  font-size: 23px;
  margin: 15px 20px;
  color: var(--main-font-color);
}
footer .footer_bottom .footer_social_media a i:hover {
  cursor: pointer;
  color: var(--tertiary-font-color);
}
footer .footer_bottom .footer_copywright p {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--extra-color);
  margin: 10px 0 25px 0;
  text-align: center;
}
footer .footer_bottom .footer_credits a {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--secondary-font-color);
  margin-top: 20px;
  text-decoration: underline;
}
main .to_top_bttn {
  position: fixed;
  right: 10px;
  bottom: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 55px;
  height: 55px;
  transition: ease 0.5s all;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .to_top_bttn a i{
  font-size: 3.6rem;
  color: white;
}
main .to_top_bttn.hide {
  display: none;
  transition: ease 0.5s all;
}
main .whatsapp-btn {
  position: fixed;
  bottom: 10px;
  left: 10px;
  display: block;
}
main .whatsapp-btn.hidew {
  display: none;
}
main .whatsapp-btn img{
  width: 60px;
  height: auto;
}


/* Product Grid */

.product_grid {
  width: 100%;
  margin-bottom: 30px;
}
.product_grid .product_grid_cat {
  width: 100%;
}
.product_grid .product_grid_cat .product_cat_title {
  background-color: var(--main-color);
  height: 50px;
  width: 60%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
  margin: 60px 0 30px 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.product_grid .product_grid_cat .product_cat_title h3 {
  color: var(--extra-color);
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
}

.product_list {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.product_list .product_element {
  display: flex;
  flex-wrap: wrap ;
  min-height: 300px;
  width: 250px;
  /* margin-bottom: 20px; */
  padding: 20px;
}
.product_list .product_element .product_img{
  position: relative;
  z-index: -1;
  width: 200px;
  height: 200px;
  display: flex;
  margin-bottom: 20px;
}
.product_list .product_element .product_img .product_img-background {
  background-color: #bbbbbb69;
  width: 180px;
  height: 180px;
  position: absolute;
  border-radius: 10px;
  left: 0;
  top: 0;
}
.product_list .product_element .product_img img {
  position: absolute;
  z-index: 1;
  width: 180px;
  height: 180px;
  border-radius: 10px;
  bottom: 0;
  right: 0;
  /* border: 1px solid #e2e2e2; */
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
}
.product_list .product_element .product_info {
  width: 100%;
}
.product_list .product_element .product_info .product_title {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--extra-color);
  margin-bottom: 20px;
}
.product_list .product_element .product_info .product_description {
  color: var(--secondary-font-color);
  font-weight: 500;
  font-size: 1.4rem;
  /* margin-bottom: 20px; */
}