*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
}

:root {
  --main-color: #EEEEEE;
  --secondary-color: #e2e2e2;
  --main-font-color: #333333;
  --secondary-font-color: #7A7A7A;
  --tertiary-font-color: #7FD9BD;
  --extra-color: #4c4c4c;
  --main-font: 'Montserrat', sans-serif;
}
a {
  text-decoration: none;
  cursor: pointer;
}
ul {
  list-style: none;
}

main .categories_cards{
  width: 80%;
  margin-bottom: 20px;
}

main .categories .categories_card {
  width: 80%;
  height: 100px;
}

main .categories .categories_cards .cat1 {
  background-image: url('../img/cat_1_dt.jpg');
}
main .categories .categories_cards .cat2 {
  background-image: url('../img/cat_2_dt.jpg');
}
main .categories .categories_cards .categories_card.cat3 {
  background-image: url('../img/cat_3_dt.jpg');
  grid-column: 1 / -1;
}

.categories_card h4 {
  font-size: 1.8rem;
}
.categories_card a {
  font-size: 1.6rem;
}

.categories_description .category_description {
  height: 500px;
}
.categories_description .category_description img {
  width: 40%;
  margin-top: -300px;
} 
.categories_description .category_description p {
 width: 40%;
}
main .contact_banner .contact_banner_text h3 {
  font-size: 3rem;
}
