{% extends './layout.html' %}

{% block body %}

<main>
  <section class="banner">
    <div class="banner_img">
      <h1 class="banner_title">EMPIEZA TUS PROYECTOS <span>HOY</span> CON LAS MEJORES HERRAMIENTAS</h1>
      <button class="banner_bttn">Ver catálogo</button>
    </div>
  </section>
  <section class="categories">
    <div class="categories_title">
      <h3>Conoce nuestras categorías</h3>
    </div>
    <section class="categories_cards">
      <div class="categories_card cat1">
        <h4>Insumos para invernadero</h4>
        <a href="#">Ver más></a>
      </div>
      <div class="categories_card cat2">
        <h4>Sistemas de riego y accesorios</h4>
        <a href="#">Ver más></a>
      </div>
      <div class="categories_card cat3">
        <h4>Tractores y maquinaria agrícola</h4>
        <a href="#">Ver más></a>
      </div>
    </section>
    </section>
    <section class="categories_description">
      <div class="category_description category_1">
        <div class="category_description_info">
          <h2>1 -</h2>
          <h3>Insumos para invernadero</h3>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio eveniet vitae tempora amet distinctio temporibus similique aliquam recusandae a sunt earum minima illo vel iure aut rem cupiditate, culpa fugit!</p>
          <div class="button-border button-border-1">
            <button class="category_description_button description_button_1">Ver catálogo</button>
          </div>
          <img src="../static/img/cat_des_1_mb.png" alt="Imagen de invernadero con plantas color" class="mobile_img">
        </div>
      </div>
      <div class="category_description category_2">
        <div class="category_description_info">
          <div class="category_description_info_text">
            <h2>2 -</h2>
            <h3>Sistemas de riego y accesorios</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio eveniet vitae tempora amet distinctio temporibus similique aliquam recusandae a sunt earum minima illo vel iure aut rem cupiditate, culpa fugit!</p>
            <div class="button-border button-border-2">
              <button class="category_description_button description_button_2">Ver catálogo</button>
            </div>
          </div>
          <img src="../static/img/cat_des_2_mb.png" alt="Imagen de un par de macetas y plantas siendo plantadas" class="mobile_img">
        </div>
      </div>
      <div class="category_description category_3">
        <div class="category_description_info">
          <h2>3 -</h2>
          <h3>Tractores y maquinaria agrícola</h3>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio eveniet vitae tempora amet distinctio temporibus similique aliquam recusandae a sunt earum minima illo vel iure aut rem cupiditate, culpa fugit!</p>
          <div class="button-border button-border-3">
            <button class="category_description_button description_button_3">Ver catálogo</button>
          </div>
          <img src="../static/img/cat_des_3_mb.png" alt="Imagen de un tractor grande, color verde con llantas negras con rines rojos" class="mobile_img">
        </div>
      </div>
    </section>
    <section class="next-section"></section>
</main>

{% endblock %}