{% extends './layout.html' %}

{% block body %}

<main>
  <section class="banner">
    <div class="banner-img">
      <h1 class="banner_title">EMPIEZA TUS PROYECTOS HOY CON LAS MEJORES HERRAMIENTAS</h1>
      <button class="banner_bttn">Ver catálogo</button>
    </div>
  </section>
</main>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic magni repudiandae culpa, expedita recusandae exercitationem numquam autem excepturi, facilis fugiat nostrum voluptates corrupti porro rem optio quae molestiae omnis nihil!
Atque magnam assumenda quam quos consequatur, eos sint quasi eveniet nisi! Soluta iste, voluptatibus dicta hic officiis quam dolor pariatur suscipit nihil ab sint sunt quasi tenetur dolorem, cum et?
Eum officia error sapiente molestiae animi, deleniti cumque, tenetur exercitationem sunt id ea. Vero molestias omnis voluptates fugiat veniam, hic sunt, quas, voluptatem nobis quaerat similique. Dignissimos, reprehenderit in. Beatae!
Nobis, totam commodi similique mollitia ipsa animi cumque voluptates sunt assumenda nulla nam, molestias, accusantium modi? Eum, aut! Aperiam, ratione corrupti. Laboriosam delectus eveniet quibusdam odit aperiam in distinctio dolores?
Pariatur quam rem ducimus ipsam. Impedit amet, maiores sapiente eveniet eos at nisi alias rem nulla provident doloremque expedita deserunt magni eligendi tempora excepturi consequuntur delectus illo minus illum cum!</p>

{% endblock %}