{% extends './layout.html' %}

{% block body %}

<main>
  <section class="banner">
    <div class="banner_img">
      <h1 class="banner_title">EMPIEZA TUS PROYECTOS <span>HOY</span> CON LAS MEJORES HERRAMIENTAS</h1>
      <button class="banner_bttn">Ver catálogo</button>
    </div>
  </section>
  <section class="categories">
    <div class="categories_title">
      <h3>Conoce nuestras categorías</h3>
    </div>
    <section class="categories_cards">
      <div class="categories_card cat1">
        <h4>Insumos para invernadero</h4>
        <a href="#">Ver más></a>
      </div>
      <div class="categories_card cat2">
        <h4>Sistemas de riego y accesorios</h4>
        <a href="#">Ver más></a>
      </div>
      <div class="categories_card cat3">
        <h4>Tractores y maquinaria agrícola</h4>
        <a href="#">Ver más></a>
      </div>
    </section>
    </section>
</main>

{% endblock %}