<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Invergrow. Soluciones agrícolas, soluciones de excelencia">
  <meta name="robots" content="index, follow" />
  <title>Invergrow | Soluciones agrícolas</title>
  <link rel="stylesheet" href="../static/css/mobile.css">
  <link rel="stylesheet" href="./static/css/tablet.css" media="screen and (min-width: 600px)">
  <link rel="stylesheet" href="./static/css/desktop.css " media="screen and (min-width: 800px)">
  <link rel="shortcut icon" href="../static/logo/favicon.png" type="image/x-icon">
</head>
<body>
  <header>
    <h1>Logo</h1>
  </header>
    {% block body %}

    {% endblock %}
</body>
</html>